* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  margin: 0px;
  background-color: #f1f1f1;
}
#container {
  width: 100%;
}
/*
Header Section
*/
header {
  background-color: #ffff;
  position: fixed;
  top: 0px;
  width: 100vw;
  min-height: 10vh;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#logo {
  margin: 4vh 10vh 0px 0px;
}
#logo h1{
    font-size: 30px;
}
#logo a{
  text-decoration: none;
  color: #A0A0A0;
}
.searcher {
  margin: 4vh 0px 0px 0vh;
  width: 500px;
}
#icon {
    display:flex;
    flex-direction: row;
    margin: 5vh 0px 0px 10vh;
}
#icon img{
    margin-right: 10px;
    max-width: 20px;
    max-height: 30px;
}
/*
Categories SECTION
*/

#categories {
    margin-top: 20vh;
    text-align: center;
}

/*
CONTENT SECTION
*/

#content {
  margin-left: 5vw;
  padding: 80px;
}
#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10vh;
    color: #A0A0A0;
}
.pos {
    position: inherit !important;
}
#iconCard{
    width: 30px;
    height: 30px;
    float: right;
}

/*
FOOTER SECTION
*/

footer{
    height: 10vh;
    text-align: center;
}
.info {
    line-height: 5vh;
    color: #A0A0A0;
}

@media(max-width: 1080px){
  #products {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 950px){
  .searcher{
    width: 300px;
  }
}

@media(max-width: 785px){
  #products {
    grid-template-columns: 1fr;
    margin-left: 13vw;
  }
  .searcher {
    width: 150px;
  }
}

@media(max-width: 600px){
  #icon {
    display: none;
  }
}

@media(max-width: 550px){
  #products {
    margin-left: 0vw;
  }
}

@media(max-width: 450px){
  #products {
    margin-left: -15vw;
  }
}
@media(max-width: 340px){
  #categories {
    margin-top: 25vh;
  }
  #products {
    margin-left: -25vw;
  }
}