* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  margin: 0px;
  background-color: #f1f1f1;
}
#container {
  width: 100%;
}
/*
Header Section
*/
header {
  background-color: #ffff;
  position: fixed;
  top: 0px;
  width: 100vw;
  min-height: 10vh;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#logo {
  margin: 4vh 10vh 0px 0px;
}
#logo h1 {
  font-size: 30px;
}
#logo a {
  text-decoration: none;
  color: #a0a0a0;
}
.searcher {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 400px;
}
/*
AUTOCOMPLETE ZONE
*/
.autocomplete {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
#btn {
  margin-left: 5px;
}
#icon {
  display: flex;
  flex-direction: row;
  margin: 5vh 0px 0px 10vh;
}
#icon img {
  margin-right: 10px;
  max-width: 20px;
  max-height: 30px;
}
/*
Categories SECTION
*/

#categories {
  margin-top: 20vh;
  text-align: center;
}
.btn {
  margin: 8px auto;
}

/*
CONTENT SECTION
*/

#content {
  margin-left: 5vw;
  padding: 80px;
}
#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10vh;
  color: #a0a0a0;
}
.pos {
  position: inherit !important;
}
#iconCard {
  width: 30px;
  height: 30px;
  float: right;
}

/*
FOOTER SECTION
*/

footer {
  height: 10vh;
  text-align: center;
}
.info {
  line-height: 5vh;
  color: #a0a0a0;
}

@media (max-width: 1080px) {
  #products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 785px) {
  #products {
    grid-template-columns: 1fr;
    margin-left: 13vw;
  }
  .searcher {
    width: 250px;
  }
}

@media (max-width: 600px) {
  #icon {
    display: none;
  }
}

@media (max-width: 550px) {
  #products {
    margin-left: 0vw;
  }
}

@media (max-width: 450px) {
  #products {
    margin-left: -15vw;
  }
  #categories {
    margin-top: 40vh;
  }
}
@media (max-width: 340px) {
  #products {
    margin-left: -25vw;
  }
}
